@import '../../../../assets/scss/variables';

.Invitation {
  @include flex(center, center, row wrap);
  padding: 0.3rem;
  border-radius: 5px 0 5px 0;
  background: url('../../../../assets/images/img-noise.png');
  margin: 1rem 0;
  transition: 0.3s;
  line-height: 1.5;

  &:nth-child(1) {
    margin-top: 0;
  }

  @include md {
    padding: 0.2rem;
  }

  &__Container {
    @include flex(center, center, row nowrap);

    div {
      @include flex(flex-start, center, column nowrap);
      margin-left: 0.5rem;
    }
  }
}

.Asking {
  width: 100%;
}

.Request {
  @include flex(center, center, row nowrap);
  justify-content: space-between;
  width: 100%;
  padding-right: 0.51rem;
}

.Name {
  color: #03af91;
  font-weight: 400;
  font-size: 0.9em;
}

.Message {
  font-size: 0.8em;
  color: #fff;
}

.Avatar {
  position: relative;
  width: 3rem;
  border-radius: 50%;

  @include md {
    border: solid 5px #0b0501;
  }
}

.Buttons {
  @include flex(center, center, row nowrap);
  width: fit-content;
}

.Add {
  background-color: #04dab4;
  color: #fff;
  border: solid #04dab4 1px;
  border-radius: 2px;
  font-size: 0.9em;
  width: fit-content;
  padding: 0.3rem;

  @include md {
    font-size: 0.9em;
  }
}

.Decline {
  @extend .Add;
  background-color: #d92626;
  border: solid #d92626 1px;
  margin-left: $gutter/4;

  @include md {
    margin-left: $gutter/4;
  }

  @include lg {
    margin-left: $gutter/4;
  }
}

.Invitation:hover {
  @include md {
    background-color: #634432;
  }
}

.Test {
  background-color: red;
}