@import '../../../assets/scss/variables';

.Tavern {
  @include flex(stretch, space-between, column nowrap);
  min-height: 100vh;
  background-color: #0b0501;
  background: url('../../../assets/images/wood3.jpg');

  @include lg {
    flex-flow: row wrap;
  }

  &__Avatar {
    width: 2rem;
    border-radius: 50%;
    border: 3px solid #0adeb7;
    z-index: 400;
    @include md {
      width: 4rem;
      position: absolute;
      top: 4rem;
      right: 13rem;
    }
  }

  &__Chat {
    &__Container {
      width: 100%;

      @include lg {
        width: auto;
        color: #fff;
        @include flex(center, space-between, column nowrap);
      }
    }
  }
}

.ContactListMoreSelf {
  margin-top: -1.6rem;
  position: absolute;
  margin-left: 0.5rem;
  //position: relative;
  z-index: 1000;
  display: flex;
  @include md {
    margin-top: 0;
    margin-left: 0;
    position: relative;
    display: block;
  }
}
