@import '../../../assets/scss/variables';

.Tavern {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 25rem;
  grid-template-areas: 'screen' 'chat';
  min-height: 100vh;
  background-color: #0b0501;
  background: url('../../../assets/images/wood3.jpg');

  @include md {
    grid-template-rows: auto 35rem;
  }

  @include xl {
    @include flex(stretch, space-between, row nowrap);
  }

  &__Avatar {
    width: 2rem;
    border-radius: 50%;
    border: 3px solid $gold;
    z-index: 400;

    @include md {
      width: 3rem;
    }

    @include xl {
      width: 4rem;
      position: absolute;
      top: 4rem;
      right: 13rem;
    }
  }

  &__Chat {
    &__Container {
      width: 100%;
      grid-area: chat;

      @include xl {
        grid-area: none;
        width: auto;
        color: #fff;
        @include flex(center, space-between, column nowrap);
      }
    }
  }
}

.ContactListMoreSelf {
  margin-top: -1.6rem;
  position: absolute;
  margin-left: 0.5rem;
  //position: relative;
  z-index: 1000;
  display: flex;
  @include xl {
    margin-top: 0;
    margin-left: 0;
    position: relative;
    display: block;
  }
}
