@import '../../assets/scss/variables';

.Modal {
  @include flex(center, space-between, column nowrap);
  font-family: "Nunito sans", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  background-color: #fff;
  padding: 2rem;
  min-height: 15rem;
  width: fit-content;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  background-color: #281A0C;
  clip-path: polygon(
    0% 0%,
    2% 2%,
    4% 0%,
    6% 1%,
    8% 1%,
    11% 0%,
    12% 1%,
    14% 0%,
    16% 1%,
    18% 1%,
    20% 1%,
    22% 1%,
    24% 0%,
    26% 0%,
    28% 0%,
    29% 2%,
    30% 4%,
    31% 0%,
    34% 0%,
    36% 1%,
    39% 1%,
    40% 0%,
    42% 1%,
    44% 1%,
    47% 1%,
    49% 0%,
    52% 0%,
    56% 0%,
    58% 2%,
    59% 0%,
    62% 1%,
    63% 4%,
    65% 0%,
    72% 0%,
    74% 1%,
    76% 0%,
    78% 1%,
    80% 0%,
    83% 0%,
    85% 1%,
    88% 1%,
    90% 0%,
    94% 1%,
    100% 0%,
    100% 100%,
    100% 100%, 98% 99%, 96% 100%, 95% 100%, 94% 100%, 92% 98%, 86% 100%, 86% 100%, 85% 99%, 82% 99%, 80% 100%, 79% 100%, 77% 100%, 75% 96%, 74% 100%, 70% 99%, 67% 99%, 64% 100%, 62% 100%, 59% 100%, 55% 98%, 51% 100%, 51% 100%, 48% 99%, 42% 100%, 42% 100%, 41% 100%, 38% 100%, 36% 96%, 35% 100%, 32% 99%, 28% 100%, 27% 99%, 24% 100%, 23% 100%, 21% 100%, 19% 98%, 17% 100%, 15% 100%, 13% 99%, 11% 100%, 9% 98%, 4% 100%, 3% 99%, 1% 100%
  );

  & header {
    @include flex(center, space-between, row nowrap);
    font-weight: 400;
    }

  &__goblin {
    width: 4.5rem;
  }



  @include lg {
    left: 57%;
  }

  header {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

.Buttons__Container {
  @include flex(center, space-between, row wrap);
  width: 100%;
  font-family: "Nunito sans", sans-serif;

  button {
    border-radius: 2px;
    color: #fff;
    margin-left: $gutter/4;
    font-size: 0.9em;
    width: fit-content;
    padding: 0.3rem;
  }

  button:nth-child(1) {
    background-color: #d92626;
    border: solid #d92626 1px;
  }

  button:nth-child(2) {
    background-color: #f2af0d;
    border: solid #f2af0d 1px;
  }
}
