@import './variables';
@import './reset.scss';

.active {
  border-bottom: 2px solid #fff200;
}

::selection {
  background-color: #04dab4;
  color: #fff;
}

iframe {
  display: none;
}

@include lg {
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(80, 63, 18) rgb(48, 31, 10);
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(26, 17, 6);
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 5px;
      background: #251b11;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #412f1d;
    }
  }
}
