@import '../../../../assets/scss/variables';

.ConnectedContactsList {
    font-family: 'Nunito Sans', sans-serif;

    &__List{
        @include md {
            position : absolute ;
            z-index: 500;
            top : 8.5rem;
            right : 27rem;
            
        }
        &__Item {

        }

        &__Avatar{
            
            border: 2px solid #0adeb7;
            width: 3rem;
            border-radius: 50%;
        }
    }

    &__Title{

    }
}