@import '../../../../assets/scss/variables';

.Presentation {
  font-family: 'nunito sans', nunito;
  position: relative;
  font-size: 0.95rem;
  font-weight: 200;
  height: 21rem;
  width: 9rem;
  border-radius: 0 0 10px 10px;
  padding: 0.75rem;
  margin-top: -1rem;
  line-height: 1.4;
  background-color: rgba(11, 5, 1, 0.7);
  border: 0.75rem solid rgba(11, 5, 1, 0.7);
  outline: 1px solid #ffff00;
  outline-offset: -8px;
  -moz-outline-radius: 0 0 10px 10px;
  overflow: auto;

  @include xl {
    font-size: 0.85rem;
    background-color: white;
    width: 45%;
    height: 100vh;
    outline: none;
    border: none;
    margin: 0;
    outline-offset: 0;
    border-radius: 0;
    color: #0B0501;
    padding-left: 9%;
    padding-right: 10rem;
    padding-top: 6%;
  }



  .Signature {
    text-align: right;
    margin: 1rem 0;
    font-style: italic;
    font-weight: 900;
    color: #ffff00;

    @include xl {
      padding-right: 20%;;
      font-size: 1.3em;
      color: #b37e49;
      font-style: normal;
      font-style: italic;
      font-weight: 700;
    }
  }

  .Desktop {
    display: none;

       @include xl {
       display: block;
      }

    &__Title {
       @include xl {
       display: inline-flex;
        font-size: 5em;
        font-weight: 900;
        margin-left: -3.7rem;
        color: #553719;
      }
    }
           
    &__SubTitle {
       @include xl { 
        font-size: 1.3em;
        color: #553719;
        max-width: 400px;
        min-width: 300px;
      }
    }

    &__AmbientText {
      @include xl {
        margin-top: 1rem;
        font-style: italic;
        max-width: 420px;
        min-width: 320px;
      }
    }

    &__PresentationText {
      @include xl {
        margin-top: 1rem;
        max-width: 400px;
        min-width: 300px;
      }
    }

    &__TavernierText {
      @include xl {
        margin-top: 1rem;
        font-style: italic;
        max-width: 350px;
      }
    }
    
 }

  .Mobile {
    @include xl {
      display: none;
    }
  }

  .CrossSword {
    margin-left: 40%;
    width: 30%;
    position: relative;
    transition: all 1.8s cubic-bezier(0.51, 1.61, 0.46, 0.85);
    
    @include xl {
      display: none;
    }
  }
  .CrossSwordDesktop {
    display: none;
    @include xl {
      display: block;
      width: 50px;
      margin-left: 0;
      margin-right: 0.4rem;
      margin-top: 0;
      top: 6.4rem;
      left: 3.7rem;
      transition: all 1.8s cubic-bezier(0.51, 1.61, 0.46, 0.85);

 }
 

    }
    .CrossSwordDesktop:hover,
    .CrossSwordDesktop:active {
    transform: rotate(360deg);
   }
  }


  .CrossSword:hover,
  .CrossSword:active {
    transform: rotate(360deg);
  }




