.ChatContainer {
    background-color: #553719;
    height: 400px;
    margin:  0 1rem;
    margin-top: -0.2rem;
    overflow: auto;
    border-left: solid 1px yellow;
    border-right: solid 1px yellow;

    .ChatUser {
        padding-top: 0.5rem;
        margin : 0.7rem;
        margin-top: 0.7rem;
        color: #fff200;
        text-align: right;
    }
    .MessageContainer {
        background-color: #0B0501;
        padding: 1rem;
        margin-top: 1rem;
        margin : 0.7rem;
        border-radius: 5px;
    }
    .FormContainer {
        position: relative;
        background-color: white;
        padding-top: 2rem;
        border-top: 5px solid  #0B0501;
        border-width: 0.3rem;
       
        .TextField {
        padding: 1rem;
        border: none;
    
    }

    &__SendButton {
        position: absolute;
        border: none;
        background-color: #F2AF0D;
        color: white;
        font-weight: 400;
        position: relative;
        padding: 0.8rem;
        border-radius: 5px;
        margin: 0.5rem;
        top: 0;
        right: -6rem;
        
     }
    }
}