@import '../../../../assets/scss/variables';

.Chat {
  font-family: 'Nunito Sans', sans-serif;
  margin: -($gutter/2) ($gutter/2) 0;
  font-size: 0.8rem;
  line-height: 1.4;

  @include lg {
    @include flex(stretch, center, column nowrap);
    // min-height: 100vh;
    height: 100%;
    max-width: 25rem;
    width: 100%;
  }

  &__Messages {
    border-left: solid 1px yellow;
    border-right: solid 1px yellow;
    background-image: url('../../../../assets/images/img-noise.png');
    padding: ($gutter/2);
    overflow: auto;
    position: relative;
    height: 20rem;

    @include lg {
      height: 100%;
    }

    &__Message {
      width: 100%;
      margin: ($gutter/2) 0;
      &__Self {
        text-align: right;
        color: yellow;
        margin: ($gutter/4) 0;
      }
      &__Player {
        text-align: left;
        color: white;
        margin: ($gutter/4) 0;
      }
      &__Content {
        padding: ($gutter/3);

        background-color: #0b0501;
        border-radius: 5px;

        color: #fff;
      }
    }
  }

  &__Message {
    &__Form {
      @include flex(center, space-between, row wrap);
      position: relative;

      &__Btn {
        position: absolute;
        border: none;


        border-radius: 5px;

        right: 0.5rem;
        padding: ($gutter/3);
        color: #fff;
        background-color: #f3cc0d;
      }
    }

    &__Input {
      padding: ($gutter/2);
      width: 100%;

      @include lg {
        min-height: 6rem;
      }    }
  }
}
