@import '../../../../assets/scss/variables';

.PostForm {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1.1rem;
  top: 15vh;
  background-color: #553719;
  transform: translate(0, calc(100% - 42px));
  border-radius: 5% 5% 0 0;
  z-index: 50;
  transition: all 300ms ease-in;
  padding: 0 1rem;

  @include md {
    margin-top: 1.8rem;
    top: 0;
    position: sticky;
    transform: none;
    background-color: initial;
    width: calc(100% - 50%);
    max-width: 75rem;
  }

  @include lg {
    margin-left: $gutter/2;
  }

  &__Open {
    @extend .PostForm;
    transform: translate(0, 0%);
    transition: all 300ms ease-in;
  }

  &__Main {
    @include flex(stretch, space-around, column nowrap);
    overflow: auto;

    @include md {
      align-items: initial;
      justify-content: initial;
    }
  }

  &__TavernInvitation {
    margin: ($gutter * 2) 0 $gutter;
    background: url('../../../../assets/images/img-noise.png');
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    z-index: 10;

    &:before {
      content: '';
      background: url('../../../../assets/images/img-noise.png');
      position: absolute;
      overflow: hidden;
      border-bottom: 1px solid #000;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
      height: 2rem;
      border-radius: 5px 5px 0 0;
      background-color: #fff;
      z-index: -1;
    }

    &:after {
      content: '';
      background: url('../../../../assets/images/Avatardefault.png');
      background-size: cover;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      border: 4px solid #1a1412;
      position: absolute;
      top: -3rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &__Container {
      border: 1px solid #f2af0d;
      border-radius: 5px;
      overflow: hidden;
      background: url('../../../../assets/images/backgroundTavernAsk.png');
      background-color: #1a1412;
      background-size: cover;
      background-position: 0 -4rem;
      height: 9.5rem;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: rgb(80, 63, 18) rgb(48, 31, 10);

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: rgb(26, 17, 6);
        border-radius: 0px;
      }

      &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 5px;
        background: rgb(83, 187, 180);
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(0, 0, 0, 0.25);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(87, 235, 220);
      }
    }
  }

  &__Invitation {
    overflow: auto;
    height: 45%;

    @include md {
      max-height: 8.5rem;
      height: fit-content;
      margin-top: 0.3rem;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: #888 #ccc;
    }
  }

  &__Invitation::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  &__Invitation::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 0px;
  }
  &__Invitation::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: #888;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
  &__Invitation::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.25);
  }
  &__Invitation::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
  }

  &__Footer {
    padding: 0.5rem 0.5rem 0.25rem;
    font-size: 0.8rem;
    text-align: center;

    @include md {
      display: none;
    }
  }
}

.Drawer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #573819;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  padding: 0 1rem;

  @include md {
    display: none;
  }
}

.SelfAvatar {
  width: 2rem;
  margin: 0.3rem;
  border-radius: 50%;
}

.SelfAvatarInput {
  display: none;

  @include md {
    display: inline-block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: -0.5rem;
    margin-top: -1.8rem;
    border: solid #1a1412 4px;
  }
}

.Triangle {
  margin: 0 2rem;
  border-right: 0.7rem solid transparent;
  border-bottom: 1.25rem solid #fff200;
  border-left: 0.7rem solid transparent;
  transition: all 300ms ease-in;

  &__Down {
    @extend .Triangle;
    transform: rotate(-180deg);
    transition: all 300ms ease-in;
  }
}

.Form {
  background-color: #573819;
  text-align: end;
  margin-top: 42px;
  // padding: 0 1rem;

  @include md {
    margin-top: 0;
    background-color: initial;
    text-align: initial;
    // padding: 0rem 0.5rem;
  }

  & > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1a1412;
    padding: 0.5rem;

    @include md {
      background-image: url('../../../../assets/images/img-noise.png');
      background-color: #1a1412;
    }
  }
}

.Input {
  resize: vertical;
  width: 100%;
  padding: 1rem;
  height: 10rem;

  @include md {
    height: 8rem;
  }
}

.SendButton {
  @include flex(center, center, row nowrap);
  background-color: #f2af0d;
  color: #fff;
  width: fit-content;
  margin-top: 0.4rem;
  height: 2.3rem;
  border-radius: 4px;
  border: solid #f2af0d 1px;

  &__Fire {
    width: 1rem;
    margin-right: 0.3rem;
  }
}

.Gutter {
  border-radius: 0 0 5px 5px;
  background-color: #1a1412;

  @include md {
    background-image: url('../../../../assets/images/img-noise.png');
    background-color: #3a271d;
  }
  height: 0.5rem;
  padding: 0 1rem;
  margin: 0.2rem 0;
}
