@import '../../../../assets/scss/variables';

.AddPlayerContainer {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  right: 3rem;
  top: 2rem;
  background-color: #331d0f;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  &__Image {
    position: absolute;
    z-index: 500;
    width: 2.5rem;
  }

  @include md {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    right: 3rem;
    top: 2rem;
    background-color: #331d0f;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }

  &__Image {
    position: absolute;
    z-index: 500;
    width: 2.5rem;
  }
}

.ContactList {
  &__List {
    &__Item {
      display: flex;
      border-bottom: 1px solid black;
      align-items: center;
      padding-bottom: 0.5rem;

      &__Btn {
        margin-right: 0.5rem;
        background-color: #77d4bd;
        border: none;
        padding: 0.5rem;
        border-radius: 2px;
        border-color: #77d4bd;
        color: #fff;

        &:hover {
          background-color: #e19a2f;

          &:active {
            background-color: #e19a2f;
          }
        }

        &__Invited {
          @extend .ContactList__List__Item__Btn;
          background-color: #e19a2f;
          cursor: not-allowed;
        }
      }

      &__Avatar {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        width: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      &__Content {
        width: 90%;
        margin-right: 1rem;
      }
    }
  }
}

.AddPlayer {
  position: absolute;
  width: 2.5rem;
  right: 0;
  margin-right: -10.5rem;
  margin-top: -18rem;
  z-index: 500;
  @include md {
    right: 13.5rem;
    margin-left: -19rem;
    margin-top: 0.5rem;
  }
}
