@import '../../../../assets/scss/variables';

.Welcome{
    margin-top: $gutter + 1.6;
    margin-left: $gutter + 2.5;
    position: absolute;
    font-weight: 700;
    &__User{
      color: #FFF200;
      font-size: 1.4rem;
    }
  }

.Nav {
  @include flex(center, space-between, row wrap);
  padding: $gutter / 3;
  position: relative;
  overflow-x: hidden;
  
  &__Header{
      grid-area: header;
    }

  &__Logo {
    grid-area: header;
    width: $gutter * 3;

    img {
      width: 55%;
    }
  }
  
  &__Menu {
    &__Container {
      position: absolute;
      top: 0;
      right: 0;
    }

    @include flex(center,center,row wrap);
    position: absolute;
    top: -1.1rem;
    right: -1.1rem;
    background-color: #5B3D20;
    border: solid 3px  #0B0501;
    border-radius: 50%;
    height: 6.1rem;
    width: 6.1rem;
    transition: 300ms ease-in-out;
    z-index: 10;


    &__Open {
      @extend .Nav__Menu;
      transform: scale(1.05);
    }
    
    img {
      width: 56%;
    }
    
  }
}