@import '../../../../assets/scss/variables';

.Nav {
  @include flex(center, space-between, row wrap);
  padding: $gutter / 3;
  position: relative;
  overflow-x: hidden;

  @include lg {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    margin: 2rem auto 0;
    height: 100%;
  }

  &__Header {
    grid-area: header;

    @include lg {
      position: fixed;
      z-index: 1;
      height: 100vh;
      grid-area: none;
      width: 15%;
      background-image: url('../../../../assets/images/backgroundlight.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-right: solid #dcaa84 0.5rem;
    }

    &__Welcome {
      margin-top: $gutter + 1.6;
      margin-left: $gutter + 2.5;
      position: absolute;
      font-weight: 700;

      @include lg {
        display: none;
      }

      &__User {
        color: $gold;
        font-size: 1.4rem;

        @include xl {
          font-size: 1.8em;
        }
      }

      h1 {
        @include xl {
          font-size: 1.8em;
        }
      }
    }
  }

  &__Logo {
    grid-area: header;
    width: $gutter * 3;

    @include lg {
      width: 100%;
      max-width: 8rem;
    }

    img {
      width: 50%;

      @include lg {
        width: 100%;
      }
    }
  }

  &__Menu {
    @include flex(center, center, row wrap);
    position: absolute;
    top: -1.1rem;
    right: -1.1rem;
    background-color: #5b3d20;
    border: solid 3px #0b0501;
    border-radius: 50%;
    height: 6.1rem;
    width: 6.1rem;
    transition: 300ms ease-in-out;
    z-index: 10;

    @include lg {
      display: none;
    }

    &__Container {
      position: absolute;
      top: 0;
      right: 0;

      @include lg {
        font-size: 1.1em;
        position: relative;
        height: 70%;
        width: 100%;
      }
    }

    &__Open {
      @extend .Nav__Menu;
      transform: scale(1.05);
    }
  }
}

// SWORD

// body {
//   background-color: #222;
// }

// .Menu {
//   font-size: .2rem;
//   height: 100%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//     &:nth-child(2) {
//       transform: rotate(180deg);
//       transform-origin: left;
//     }
// }

// .FirstContainer {
//   width: 3.125em;
//   margin: -2.5rem auto;
// }

// .FirstSword {
//   transform: rotate(90deg);
// }

// .FirstHandleOrb {
//   width: .5em;
//   display: block;
//   margin: 0 auto;
//   position: relative;
//   top: 0.45em;
//   z-index: -1;

//   &:after {
//     content: ' ';
//     display: block;
//     position: relative;
//     // width: 0.3em;
//     // height: 0.3em;
//   }
// }

// .HandleOrb {
//   color: $gold;

//   &:after {
//     border-radius: 1.25em;
//     border: 0.3em solid $gold;
//     background-color: $gold;
//   }
// }

// .FirstHandleBlock {
//   width: 64%;
//   height: 1.25em;
//   display: block;
//   margin: 0 auto;
//   background-color: $gold;
// }

// .FirstSmallHandleBlock {
//   width: 75%;
//   height: 0.65em;
//   display: block;
//   margin: 0 auto;
//   background-color: $gold;
// }

// .HandleBlock {
//   color: $gold;
// }

// // .FirstHandleBlockCurve {
// //   position: absolute;
// //   width: 4.7em;
// //   left: -0.9em;
// //   z-index: 1;
// //   height: 0.2em;
// //   display: block;
// //   margin: 0 auto;
// // }

// .FirstLargeHandleBlockCurve {
//   position: absolute;
//   width: 5em;
//   left: -1em;
//   z-index: 1;
//   height: 1.2em;
//   display: block;
//   margin: 0 auto;

//   // &:before {
//   //   content: '';
//   //   display: inline-block;
//   //   position: absolute;
//   //   top: -0.2em;
//   //   left: -0.2em;
//   //   width: 0.6em;
//   //   height: 0.6em;
//   //   -moz-border-radius: 0.5em;
//   //   -webkit-border-radius: 0.5em;
//   //   border-radius: 0.5em;
//   //   background-color: $darkGrey;
//   // }

//   // &:after {
//   //   content: '';
//   //   display: inline-block;
//   //   position: absolute;
//   //   top: -0.2em;
//   //   right: -0.2em;
//   //   width: 0.6em;
//   //   height: 0.6em;
//   //   -moz-border-radius: 0.5em;
//   //   -webkit-border-radius: 0.5em;
//   //   border-radius: 0.5em;
//   //   background-color: $darkGrey;
//   // }
// }

// .HandleBlockCurve {
//   background-color: $gold;
// }

// .FirstHandle {
//   width: 60%;
//   height: 4.4em;
//   display: block;
//   margin: 0 auto;

//   &:after {
//     content: ' ';
//     display: block;
//     position: relative;
//     margin: 0 auto;
//   }
// }

// .Handle {
//   // background-image: repeating-linear-gradient(180deg, #a2a8ca 0.125em, $darkGrey 0.5em);
//   background-color: $gold;
// }

// .FirstBlade {
//   height: 12.5em;
//   position: relative;
// }

// .FirstBladeTop {
//   width: 0;
//   height: 0;
//   position: absolute;
//   left: 10%;
// }

// .BladeTop {
//   border-left: 1.25em solid transparent;
//   border-right: 1.25em solid transparent;
//   border-top: 1.25em solid $gold;
// }

// .FirstBladeLeft {
//   position: absolute;
//   top: 0;
//   left: 14%;
//   width: 42%;
//   height: 125%;
//   z-index: -1;
// }

// .FirstBladeRight {
//   position: absolute;
//   top: 0;
//   right: 14%;
//   width: 42%;
//   height: 125%;
//   z-index: -1;
// }

// .BladeLeft {
//   background-color: $gold;
// }

// .BladeRight {
//   background-color: $gold;
// }

// .FirstBladeBottom {
//   left: .5em;
//   top: 13.4em;
//   width: 0;
//   height: 0;
//   border: 1.1em solid transparent;
//   border-bottom-color: $gold;
//   position: relative;

//   &:after {
//     content: '';
//     position: absolute;
//     left: -1.25em;
//     top: 1.1em;
//     width: .2em;
//     height: 0;
//     border: 1.1em solid transparent;
//     border-top-color: $gold;
//   }
// }
