@import '../../../assets/scss/variables';

.UserAccount {
  width: 90%;
  max-width: 55rem;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;

  @include lg {
    width: 95%;
  }

  &__DeleteBtn {
    position: relative;
    border: none;
    font-size: 0.7em;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgb(40, 26, 9);
    color: rgb(187, 187, 187);

    @include md {
      margin-top: -2rem;
      margin-left: 0.5rem;
    }
  }

  &__Description {
    line-height: 1.5;
    position: relative;
    background-color: #fff;
    min-height: 15vh;
    height: fit-content;
    max-width: 90vw;
    color: #000;
    font-family: 'nunito sans', sans-serif;
    font-weight: 500;
    padding: 1rem;
    margin: 0.3rem 0 0.5rem 0;
    font-size: 1em;

    &_Text {
      word-break: break-word;
    }

    &__Bloc {
      width: 100%;
      height: 1rem;
      border-radius: 0px 0px 5px 5px;
      background-image: url('../../../assets/images/img-noise.png');
      position: absolute;
      bottom: -1.3rem;
      left: 0;
    }

    &_Btn {
      background-color: white;
      position: absolute;
      border: none;
      bottom: 0;
      right: 0;

      &__Feather {
        width: 2rem;
      }
    }

    &_Editing {
      line-height: 1.5;
      background-color: #fff;
      position: relative;
      height: 100%;
      width: 100%;
      color: #000;
      font-family: 'nunito sans', nunito;
      font-weight: 500;
      resize: none;
      padding: 1rem;
      font-size: 1em;

      &_Form {
        position: relative;
        height: 15vh;
        max-width: 90vw;
        color: #000;
        font-family: 'nunito sans', nunito;
        font-weight: 500;
        margin: 0.3rem 0 0.5rem 0;
      }

      &_Btn {
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        background-color: #4ac29a;
        padding: 0.5rem;
        margin: 0 0.3rem 0.3rem 0;
        border-radius: 2px;
      }
    }
  }

  &__Avatar {
    position: relative;
    margin-top: -1rem;
    margin-right: -1rem;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid #1a1412;

    @include md {
      margin-top: -1rem;
      margin-right: -2.5rem;
      width: 6rem;
      height: 6rem;
    }
  }
}

.Username_Container {
  background-image: url('../../../assets/images/img-noise.png');
  padding-left: 1;
  padding-right: 1;
  border-radius: 5px 5px 0 0;

  & div:last-child {
    @include flex(center, center, row nowrap);
  }
}

.Username {
  display: none;

  @include lg {
    display: block;
    color: #fff200;
    font-family: 'nunito sans', 'sans serif';
    width: 100%;
    text-align: right;
    font-weight: 400;
    margin-right: 0.6rem;
    font-size: 2rem;
  }

  &_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ContactList {
  width: 100%;

  &__Bloc {
    width: 100%;
    height: 1rem;
    border-radius: 0px 0px 5px 5px;
    background-image: url('../../../assets/images/img-noise.png');
    bottom: -7.3rem;
  }
}

.ContactList_Title {
  @include flex(center, left, row nowrap);
  background-image: url('../../../assets/images/img-noise.png');
  margin-top: 2.5rem;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem;
  width: 100%;
  color: #fff200;

  &_Logo {
    margin-right: 1rem;
    width: 2rem;
  }
}

.TitleContainer {
  font-size: 0.9em;
  font-style: italic;
  cursor: pointer;
  position: relative;

  &__Title {
    @include sm {
      margin-right: 1rem;
    }

    & span {
      font-style: normal;
    }
  }
}
