.Main{
    position: fixed;
    bottom: 0;
    left: 2.5%;
    width: 95%;
    height: 83%;
    background-color: #553719;
}

.Form{
    margin: 0.25rem 0.5rem;
    background-color: #0B0501;
    text-align: end;
}

.Input{
    width: 97%;
    height: 11rem;
    margin: 0.6rem 1.5% 0.5rem 0;
}

.SendButton{
    background-color: #FFF200;
    color: #fff;
    margin: 0 0.5rem 0.5rem;
    width: 4.5rem;
    height: 1.75rem;
    border-radius: 1.5px;
    border: solid #FFF200 1px;
}

.Gutter {
    width: 97%;
    border-radius: 0 0 5px 5px;
    background-color: #0B0501;
    height: 0.5rem;
    margin: 0rem auto;
}