.Result {
  width: auto;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  line-height: 4.5rem;
  font-size: 50px;
  border-radius: 6px;
  box-shadow: inset 1px 1px 4px rgba(11, 5, 1, 0.7);
  color: #333;
  background: #fefefe;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}
