@import '../../assets/scss/variables';

.Auth {
  display: grid;
  grid-template-rows: fit-content(200px) auto fit-content(50px);
  grid-template-areas: 'header' 'main' 'footer';
  font-family: 'nunito sans', sans-serif;
  font-weight: 200;
  color: white;
  min-height: 100vh;
  margin: 0;
  background-image: url('../../assets/images/backgroundlight.jpg');
  background-repeat: no-repeat;
  background-position: 48% 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem;

  @include xl {
    background-position: 13rem;
    padding: 0;
  }

  &__Logo {
    position: relative;
    grid-area: header;
    width: 9rem;
    z-index: 200;

    @include xl {
    max-width: 400px;
    width: 15rem;
    position: absolute;
    left: 37%;
    top: 29%;

    }
  }

  &__Main {
    grid-area: main;
  }
}

.Main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: fit-content(5rem) auto fit-content(5rem);
  grid-template-areas: 'header' 'main' 'footer';
  font-family: 'nunito sans', nunito;
  background-color: #0B0501;
  color: white;
  font-weight: 200;

  

  &__Main {
    grid-area: main;
  }

  &__Footer {
    padding: 1rem;
    grid-area: footer;
    font-size: 0.8rem;
    text-align: center;

  }
}


.Footer {
  padding: 1rem 1rem 0;
  grid-area: footer;
  font-size: 0.8rem;
  text-align: center;

  @include xl {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: .5rem;
    
  }
}