.Contact {
  background-color : #3A271D;
  border-radius:5px;
  font-family:  'nunito sans', 'sans serif';
  padding:0.3rem 0.5rem;
  overflow : auto;
  max-height: 53vh;

  

  &_Title{
    color:#fff;
    font-weight : 500;
    border-radius:5px;
    padding:0.5rem;
  }

  &_Image{
    border-radius : 50%;
    width : 20%;
    max-width: 80px;

  }

  &_Content{
    font-weight : bold;
    color:#1DFFD6;
    max-width: 75%;

    &_Container{
      background-color: #3a271d;
      margin: 0.5rem 0;
      padding: 0.6rem 0.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_Btn{
    background-color: #D92626 ;
    border:none;
    color: #fff;
    padding : 0.5rem;
    border-radius : 5px;
  }
}
