.Contact {
  background-color : #3A271D;
  border-radius:5px;
  font-family:  'nunito sans', nunito;
  padding:0.3rem 0.5rem;
  overflow : auto;
  max-height: 53vh;


  &_Title{
    color:#fff;
    font-weight : 500;
    
    background-color : #3A271D;
    border-radius:5px;
    padding:0.5rem;
    

  }

  &_Content{
    
    font-weight : bold;
    color:#1DFFD6;
    overflow-x : auto;
    max-width: 75%;
    &_Container{
      background-color: #553719;
      margin: 0.5rem 0.3rem;
      border-radius:5px;
      padding: 0.6rem 0.3rem;
      display: flex;
      justify-content: space-between;
      

    }

  }

  &_Btn{
    background-color: #D92626 ;
    border:none;
    color: #fff;

  }
}
