@import '../../../../assets/scss/variables';

.ScreenContainer {
  position: relative;
  z-index: 5;
  width: 100%;
  min-width: 20rem;

  min-height: 12rem;

  max-width: 75rem;
  z-index: 10;
  position: relative;

  @include lg {
    max-width: calc(100% - 27rem);
  }


  &__TavernExit {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-weight: 200;
    font-size: 0.8em;
    z-index: 100;

    img {
      width: 2rem;
    }
  }
}
